#include "zlib.xcconfig"

// =============================================================================
//  Xcode Build Settings
// -----------------------------------------------------------------------------
// [Architectures]

// "Base SDK"
SDKROOT = iphoneos

// "Supported Platforms"
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
